.mainBox {
	background-color: #f2f2f2;
}

.footer {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #f0be8c;
}

.footer .container {
	display: flex;
	align-items: center;
}

.logo2 {
	margin-right: auto;
	margin-left: 20px;
	font-size: 22px;
	font-weight: 600;
}

.social-list {
	display: flex;
}

.ftr-menu .social-list li {
	display: flex;
	align-items: center;
	margin-top: 3px;
}

.ftr-menu ul li a {
	padding: 0;
	margin: 0 1em;
}

.ftr-menu ul li a.social-icon {
	margin: 0;
	padding: 8px 11px;
	border-radius: 50%;
	background-color: #fff;
}

.ftr-menu ul li a.social-icon:hover,
.ftr-menu ul li a.social-icon:hover {
	background-color: rgb(238, 226, 176);
}

.ftr-menu ul li a i {
	transform: translateY(3px);
	font-size: 24px;
}

.list-velo-pictures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding-top: 21px;
	padding-bottom: 17px;
}

.item-velo-picture_third {
	display: none !important;
}

.item-velo-picture {
	margin-bottom: 12px;
	display: inline-flex;
}

.item-velo-picture img {
	width: 300px;
}

.box-choice {
	display: flex;
}

.morebtn.btn-choice {
	margin: 0 auto 15px;
	padding: 5px 37px;
	font-size: 14px;
	font-weight: 500;
	background-color: #454B50;
}

@media (max-width: 420px) {
	.footer {
		padding-left: 0.4em;
		padding-right: 0.4em;
	}

	.logo2 {
		margin-left: 0;
		margin-top: 10px;
		font-size: 15px;
	}
}


@media (min-width: 420px) {
	.morebtn.btn-choice {
		font-size: 15px;
		padding: 5px 41px;
	}
}


@media (max-width: 500px) {
	.mainBox {
		min-height: 340px;
	}
}


@media (max-width: 640px) {
	.mainBox {
		min-height: 385px;
	}

	.logo2 {
		font-size: 17px;
	}
}

@media (min-width: 640px) {
	.list-velo-pictures {
		padding-top: 47px;
	}

	.morebtn.btn-choice {
		margin-top: 3px;
		font-size: 16px;
		padding: 6px 61px;
	}
}


@media (min-width: 768px){ 
	.mainBox {
		min-height: 437px;
	}

	.item-velo-first {
		margin-right: 12px;
	}

	/* .list-velo-pictures {
		display: flex;
		justify-content: center;
	} */

	.logo2 {
		font-size: 19px;
	}

	.morebtn.btn-choice {
		margin-top: 11px;
		/* font-size: 16px; */
		padding: 7px 70px;
	}
}

@media (max-width: 768px) {
	.mainBox {
		min-height: 410px;
	}

	.item-velo-picture {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .wrap {
		box-sizing: border-box;
		width: 100%;
	}

	.ftr-menu ul li a.social-link-text {
		display: none;
	}

	.ftr-menu ul li a.social-icon {
		padding: 5px 8px;
		margin-right: 9px;
	}

	.ftr-menu ul li a i {
		transform: translateY(2px);
		font-size: 19px;
	}
}

@media (min-width: 1020px){ 
	.list-velo-pictures {
		padding-top: 56px;
	}

	.item-velo-first,
	.item-velo-picture_second {
		margin-right: 19px;
	}

	.item-velo-picture_third {
		display: block !important;
	}

	.morebtn.btn-choice {
		margin-top: 11px;
		/* font-size: 17px; */
		padding: 7px 86px;
	}
}