.wrapperCalcul {
	position: relative;
	top: 51px;
	margin: 0 8px;
	padding-bottom: 40px;
}

.wrapperCalcul .container-products {
	flex-grow: 0;
	/* text-align: center; */
}

.wrapperCalcul .container-products .inner-box-products {
	width: 100%;
}

.wrapperCalcul .container-products .boxHeading {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: -20px;
	margin-bottom: 8px;
	text-align: center;
}

.wrapperCalcul .container-products .boxHeading  h2 {
	display: inline-flex;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 23px;
	opacity: 0.8;
}

.wrapperCalcul .container-products .headingChoice {
	position: relative;
	top: -4px;
	margin-left: 15px;
	margin-bottom: 7px;
	font-size: 17px;
	color: rgb(230, 171, 109);
	word-wrap: break-word;
}

.wrapperCalcul .container-products 
.inner-box-products .item-product {
	height: 345px;
}

.wrapperCalcul .container-products nav {
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-right: 20px;
}

.wrapperCalcul .container-products nav ul {
	margin-top: 5px;
}

.box-catalog-section {
	padding-top: 17px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	/* align-items: stretch;
	align-content: stretch; */
}

.container-smart-filter {
	min-width: 300px;
	max-width: 300px;
	margin-left: 10px;
	height: 100%;
}

.container-products {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between; */
	min-width: 300px;
	flex-grow: 1;
}

.inner-box-products {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0 7px 0 6px;
}

.cart-goods {
	min-width: 300px;
	max-width: 300px;
	margin-right: 14px;
}

.item-product{
    position: relative;
    height: 380px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid rgba(221, 173, 175, 0.7);
	 outline: 1px solid #f8cca0;
	 outline-offset: -2px;
	 border-radius: 6px;
    margin-bottom: 20px;
}

.item-product:hover{
    z-index: 3;
    overflow: visible;
    /* background-color: #f8f3f3;
    border: none; */
	 transform: scale(1.03);
	 transition: transform .4s;
}

.item-product:hover .add-cart {
	display: inline-block;
}

.item-product .view-fifth1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.item-product:hover .view-fifth1{
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.19);
}

.top_box {
	box-sizing: border-box;
	padding: 19px 7px 10px;
	margin: 0 3px;
	width: 95%;
}

.top_box .m_1 {
	box-sizing: border-box;
	padding-top: 3px;
	padding-left: 6px;
	margin-bottom: 2px;
	font-size: 1.3em;
	text-transform: uppercase;
	color: #555;
}

.top_box .m_2 {
	/* display: inline-block; */
	box-sizing: border-box;
	padding-top: 3px;
	padding-left: 6px;
	margin-bottom: 16px;
	font-size: 1.05em;
	color: #333;
}

.top_box .price {
	box-sizing: border-box;
	font-size: 1.15em;
	color: #fd9f39;
	/* rgb(218, 191, 162); */
	font-weight: 500;
	padding-left: 6px;
}

.grid_img{
    height: 190px;
}
.buy{
    margin: 20px 0;
}
.offers form{
    margin-bottom: 20px;
}
.input-group-btn2 .btn{
    border-radius: 0;
    border-left: 0;
}
.bx-filter .radio label,
.bx-filter .checkbox label{
    display: block;
}
.products .mens-toolbar{
    width: 100%;
}

.loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(255,255,255,.8);
}

.loader img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-32px);
}

.sort a{
	font-size: 14px;
	margin: 0 4px;
}

.color-props{
	list-style: none;
	margin: 10px 0;
}
.color-props li{
	display: inline-block;
	min-width: 80%;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	padding: 2px;
	border: 1px solid #ccc;
}
.color-props li.active-prop{
	border: 3px solid #cc0000;
}
.color-props li div{
	width: 20px;
	height: 20px;
}

.innerColor {
	display: inline-block;
	min-width: 80%;
}

.img-product {
	max-width: 100%;
}

.input-group .input-group-btn .btn-default {
	border: 1px solid #893F45B3;
}
.input-group .input-group-btn .btn-default:hover {
	background-color: rgba(240, 191, 142, .4);
}

.input-group .form-control {
	border: 1px solid #893F45B3;
	border-right-color: transparent;
}

.input-group .form-control:hover {
	background-color: rgba(240, 191, 142, .4);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.boxChoice {
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-right: 11px;
}

.input_choice-good {
	box-sizing: border-box;
}

.input_choice-goods:not(:disabled):not(:checked)+label:hover::before {
	border-color: rgba(179, 214, 255, .7);
}

.input_choice-goods:not(:disabled):active+label::before {
	background-color: #b3d7ff;
   border-color: #b3d7ff;
}

.input_choice-goods:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input_choice-goods:focus:not(:checked)+label::before {
	border-color: #80bdff;
}

.input_choice-goods:checked+label::before {
	border-color: #fff;
	border-width: 3px;
	background-color: rgb(164, 214, 245);
	/*  */
}

.input_choice-goods:disabled+label::before {
	background-color: #e9ecef;
}

.label_choice-goods {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.label_choice-goods::before {
	content: '';
	display: inline-block;
	width: 21px;
	height: 21px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 2px solid rgb(167, 217, 248);
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}



@media (max-width: 420px) {
	.wrapperCalcul .container-products .boxHeading  h2 {
		font-size: 20px;
	}

	.inner-box-products {
		justify-content: center;
	}

	.cart-goods {
		margin-right: 0;
	}
}

@media (min-width: 420px) and (max-width: 650px) {
	.wrapperCalcul .container-products .headingChoice {
		margin-left: 27px;
	}

	.inner-box-products {
		margin-left: 24px;
	}
}


@media (max-width: 650px) {
	.wrapperCalcul .container-products .boxHeading {
		top: -29px;
	}
}

@media (min-width: 650px) {
	.box-catalog-section {
		flex-direction: row;
	}

	.wrapperCalcul {
		margin: 0 13px;
	}	

	.wrapperCalcul .container-products .boxHeading {
		margin-bottom: 27px;
	}
}


@media (min-width: 768px) {
	.box-catalog-section {
		padding-top: 27px;
	}
}

@media (min-width: 1024px) {
	.box-catalog-section {
		padding-top: 29px;
	}
}